* {
  box-sizing: border-box;
}

@import '@fontsource/fira-code/400.css';
@import '@fontsource/fira-code/600.css';

:root {
  font-family: 'Fira Code', 'SF Mono', 'Monaco', 'Inconsolata', 'Fira Mono', 'Droid Sans Mono', monospace;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1a1a1a;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

.active-seq-step {
    background-color: rgba(255, 255, 0, 0.3);
    border-radius: 2px;
    color: #fff !important;
    font-weight: bold;
}

